*{
	margin:0;
	padding:0;
}

#menu{
	position:relative;
	width:100%;
	height:400px;
	background:silver;
	margin-bottom:50px;
	font-family:"Times New Roman",Georgia,Serif;
	font-size:50px;
	padding:150px 0 0 100px;
}

.path{
	position:relative;
	width:300px;
	height:auto;
}

.path img{
	position:relative;
	width:300px;
	height:auto;
	box-shadow:10px 10px 10px black;
}
