*{
	margin:0;
	padding:0;
	position:relative;
	float:left;
	display:block;
}

title{
	display:none;
}

#title{
	width:100%;
	height:auto;
}

#title_t{
	width:300px;
	height:300px;
	border-radius:300px;
	background-color:rgba(0,0,0,1);
	color:rgba(255,255,255,1);
	text-align:center;
	margin:5px;
	font-size:50px;
	line-height:275px;
	font-family:"Palatino Linotype";
}

.path{
	width:300px;
	height:300px;
	border-radius:30px;
	background:rgba(255,255,255,0.7);
	margin:5px;
}

.path:hover{
	background:rgba(255,255,255,1);
}

.path img{
	position:absolute;
	bottom:5px;
	width:90%;
	height:auto;
	border-radius:15px;
	border:2px solid silver;
	margin:0 4%;
}

.path b{
	width:100%;
	font-size:35px;
	color:rgba(0,0,100,1);
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:2px 2px 3px #0F7;
}

.path p{
	top:20px;
	font-size:12px;
	color:black;
	text-align:justify;
	padding:20px;
}
