*{
	margin:0;
	padding:0;
}

#menu{
	position:relative;
	width:100%;
	height:400px;
	background:silver;
	margin-bottom:50px;
	font-family:"Times New Roman",Georgia,Serif;
}

#menu p{
	position:absolute;
	top:150px;
	left:100px;
	color:#552200;
	font-size:100px;
	font-style:oblique;
	text-shadow:10px 10px 11px white;
}

#menu b{
	position:absolute;
	width:300px;
	font-size:30px;
	text-align:center;
	color:#5522ff;
	font-family:"Courier New", Courier, monospace;
}

#menu span{
	position:absolute;
	right:50px;
	bottom:50px;
	font-size:30px;
	text-align:center;
	color:#5522ff;
	font-family:"Courier New", Courier, monospace;
}

.path{
	position:relative;
	width:300px;
	height:auto;
}

.path img{
	position:relative;
	width:300px;
	height:auto;
	box-shadow:10px 10px 10px black;
}
